{
    "presets": ["env"],
    "plugins": [
        ["module-resolver", {
            "root" : ["./src/"],
            "alias": {
                "@core": "./src/ELIA/common"
            }
        }]
    ]
}